<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Schemes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="./static/js/script.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark " id="chat">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">AI Chatbot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>

          {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div  class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" onclick="closeAlert(this)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<h1 align="center">Scheme Details</h1>
    <br>
    <hr>
    <br>
    {% if scheme %}
    <table>
        {% for key, value in scheme.items() %}
        <tr>
            <th>{{ key|capitalize }}</th>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{  url_for('edit', scheme_id=scheme['_id'])}}" onclick="return confirm('Please confirm that you want to Edit this scheme?')" class="btn btn-secondary btn-sm">Edit</a>
			<a href="{{ url_for('delete', scheme_id=scheme['_id'])}}" onclick="return confirm('Please confirm that you want to Delete this scheme?')" class="btn btn-danger btn-sm">Delete</a>
    {% else %}
    <p>Scheme not found!</p>
    {% endif %}
    <br><br><br><br>
</div>
<footer class="footer text-center mt-4">
    <p style="color:ghostwhite">&copy; 2024 FABB Technologies pvt limted. All rights reserved.</p>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
